#gridPane {
    -fx-background-radius: 5;
    -fx-padding: 2;
    -fx-background-color: #979797;
}

#gridPane:selected {
    -fx-background-color: green;
}

.label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.label-last {
    -fx-background-radius: 0 5 5 0;
}

.label-first {
    -fx-background-radius: 5 0 0 5;
}

.label-border {

    -fx-border-width: 0 1 0 0;
    -fx-border-color: #2e2e2e;
}




